<div class="container" style="position: relative;">
  <% if user_signed_in? %>
    <div class="admin-control">
      <%= link_to new_blog_path, class: "fa-stack fa-lg" do %>
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @blogs.each do |blog| %>
        <div class="row">
          <div class="col-md-10">    
            <%= blog.date.strftime("%B %e, %Y")  %> 
            <h1><%= link_to blog.title, blog, {:class => "raleway"} %></h1>
            <h4><%= blog.subtitle %></h4>
          </div>
          <div class="col-md-2">
            <div class="center" style="margin-top: 40px;">
              <%= link_to addcool_blog_path(blog), method: :put do %>
                <span class="fa fa-bullseye fa-2x"></span>
                <br />
                <b><%= blog.cool %> COOLS</b>
              <% end %>
            </div>
          </div>
        </div>
        <hr />
      <% end %>
    </div>
  </div>
</div>