<!--<div class="jumbotron breakroom_jumbo">
	<div class="container">
    <p class="cabin jumbo_copy">HELP GROW THIS THING</p>
    <h4 style="line-height: 2.0;">
      I mean, even Flappy Bird had over 50 million downloads
    </h4>
  </div>
</div>-->
<div class="row center">
  <div class="col-md-6 col-md-offset-3" style="background: #ffccbc; height: 200px;">
    <h1 class="cabin main_hero_text" style="color: #fff;">
      Invite a friend.
    </h1>
    <hr style="width: 75%; border: 2px solid #fff;">
  </div>
</div>
<div class="container breakroom_lookup center" style="margin-top: 30px;">
  <% @referrers.each do |referrer| %>
    <% if referrer.email == "none" %>
      <h4 style="line-height: 2.0">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            Refer your friends to The DWC and receive points that you can exchange for rewards.
          </div>
        </div>
      </h4> 
      <h4 style="line-height: 2.0; margin-top: 30px;">
        Enter in your email below to check how many referrals you have <small><i>(updated daily-ish)</i></small>.
      </h4>
      <form action="<%= invite_path %>" method="get">
        <p style="margin-top: 15px;">
          <%= text_field_tag :search, params[:search], :style => "border: 1px solid;" %>
          <%= submit_tag "Search", :name => nil, :class => "btn" %>
        </p>
      </form>
    <% else %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <% if referrer.referrals == 0 %>
            Sorry, this email has no referrals.
          <% else %>
            <div class="row">
              <div class="col-md-4">
                <h1><%= referrer.referrals %></h1>
                FRIENDS REFERRED
              </div>
              <div class="col-md-4">
                <h1><%= referrer.points %></h1>
                POINTS
              </div>
              <div class="col-md-4">
                <h1><%= @referrersRank.index{ |item| item.email == referrer.email } + 1 %></h1>
                RANK
              </div>
            </div>
          <% end %>
          <br/><br/>
          <%= render 'layouts/socialshare' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- NOT SUBSCRIBED -->
  <% if @referrers.empty? %>
    <% if @info.fetch("error_count")[0] == 0 %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          Sorry, this email has no referrals.
          <br/><br/>
          <%= render 'layouts/socialshare' %>
        </div>
      </div>
    <% end %>
    <% if @info.fetch("error_count")[0] > 0 %>
      This email is not subscribed to The DWC.
    <% end %>
  <% end %>
</div>