<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-04-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=d1d5d3a432" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-04-01.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=21151504dd" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-31.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=865fa028b1" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-30.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=3300060897" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-29.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=f4a7adf325" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-28.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=313697f1e7" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-25.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=9b19011f6e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-24.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=367d5bd3a6" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-23.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=6667305262" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-22.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=f3b909034b" %>
		</div>
	</div>
</div>