<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-09-07.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-sides-with-democrats-on-congressional-deal-all-us-women-in-us-open-semifinals" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-06.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-says-seeya-to-daca-dismaying-many-houston-rockets-sold-for-record-amount" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-05.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-the-dwc-is-back-after-two-week-hiatus-announcement-on-daca-this-morning" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-22.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-reaffirms-military-commitment-to-afghanistan-dwc-on-break-until-after-labor-day" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-21.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-fyi-theres-a-solar-eclipse-happening-today-trump-to-announce-afghanistan-strategy-tonight" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-18.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-linked-terror-attacks-rock-spain-too-many-tote-bags-on-the-door-knob" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-17.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-business-executives-flee-presidential-advisory-councils-akon-out-with-a-new-track" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-16.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-again-defends-both-sides-handshakes-or-hugs" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-15.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-three-ceos-depart-from-presidents-advisory-council-secrets-behind-trader-joes-snacks" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-08-09.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-fire-and-fury-signifying-nothing-hopefully-dwc-on-break-until-tuesday" %>
		</div>
	</div>
</div>