<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-09-29.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=29b2e92043" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-28.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-california-moves-up-presidential-primary-hugh-hefner-passes-away-at-91" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-27.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-healthcare-takes-a-backseat-to-taxes-twitter-begins-testing-280-character-limit" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-26.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-alabama-special-election-primary-in-focus-cardi-b-tops-billboard-charts" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-25.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-nfl-players-take-a-knee-in-protest-healthcare-battle-enters-homestretch" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-22.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-uber-loses-license-in-london-dotard-is-the-word-of-the-day" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-21.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-gop-senators-plan-to-vote-on-healthcare-next-week-google-beefs-up-hardware-team" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-20.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-eyes-on-federal-reserve-decision-mexico-rocked-by-71-magnitude-earthquake" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-19.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-toys-r-us-files-for-bankruptcy-protection-trump-delivers-united-nations-speech-this-morning" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-18.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-handmaids-tale-and-veep-win-series-honors-at-emmys-united-nations-general-assembly-this-week" %>
		</div>
	</div>
</div>