<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-06-27.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-cbo-finds-senate-healthcare-bill-to-leave-22-million-more-uninsured-russell-westbrook-wins-mvp" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-26.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-awaiting-the-cbo-score-for-the-senate-republican-healthcare-bill-facebook-goes-hollywood" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-23.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-gop-senators-unveil-the-better-care-reconciliation-act-yellowstone-grizzly-bear-to-be-removed-from-endangered-list" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-22.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-draft-of-gop-healthcare-bill-expected-to-drop-today-nba-draft-tonight-in-brooklyn" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-21.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-travis-kalanick-steps-down-as-ceo-of-uber-republicans-hold-onto-georgia-and-south-carolina-districts" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-20.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-special-congressional-election-in-georgia-and-south-carolina-any-celebrities-want-to-play-super-smash-bros-with-me" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-19.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-brooks-koepka-wins-us-open-in-dominant-fashion-keep-your-eye-on-healthcare-this-week" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-16.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-jay-z-inducted-into-songwriters-hall-of-fame-restrictions-to-cuban-travel-and-commerce-reintroduced" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-15.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-house-majority-whip-scalise-in-critical-condition-us-open-golf-tournament-begins" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-14.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-tracy-k-smith-named-as-poet-laureate-legal-challenges-mount-for-trump-due-to-business-ties" %>
		</div>
	</div>
</div>