<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2015-10-13.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=e6cc8d2973" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-12.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=7f66ac2979" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-09.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=e9b355aa20" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-08.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=f3fb447e3c" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-07.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=229fb5decf" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-06.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=9a893d5744" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-05.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=ea69dda242" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-02.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=5490b903df" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-01.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=943bd911a3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-30.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=6fc4715642" %>
		</div>
	</div>
</div>