<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2015-09-24.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=94b09f5663" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-23.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=0f0a8e3b5f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-22.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=845fbb2c1d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-21.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=3cd4f29f7e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-18.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=8f80fd02ff" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-17.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=2da4224087" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-16.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=f78e8656af" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-15.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a806934b10" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-14.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=7dc40554f6" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-09-11.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=309e445b3f" %>
		</div>
	</div>
</div>