<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-10-09.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-richard-thaler-wins-nobel-prize-in-economics-for-behavioral-economics-trump-demands-border-wall-funding-619285" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-06.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-anti-nuclear-weapon-group-wins-nobel-peace-prize-the-calm-before-the-storm-619281" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-05.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-kazuo-ishiguro-wins-nobel-prize-in-literature-minnesota-lynx-win-wnba-title-619277" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-04.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-nobel-prize-in-chemistry-goes-to-cryo-electron-microscopy-researchers-google-unveils-new-hardware" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-03.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-nobel-prize-in-physics-goes-to-gravitational-wave-trio-gerrymander-case-goes-to-supreme-court" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-29.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=29b2e92043" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-28.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-california-moves-up-presidential-primary-hugh-hefner-passes-away-at-91" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-27.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-healthcare-takes-a-backseat-to-taxes-twitter-begins-testing-280-character-limit" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-26.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-alabama-special-election-primary-in-focus-cardi-b-tops-billboard-charts" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-25.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-nfl-players-take-a-knee-in-protest-healthcare-battle-enters-homestretch" %>
		</div>
	</div>
</div>