<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-10-20.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-gop-takes-critical-step-towards-tax-cut-sssswifties-celebrate-with-third-new-track-released" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-19.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-spains-government-threatens-catalonias-autonomy-deadline-for-amazon-hq2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-18.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-bipartisan-healthcare-proposal-seeks-support-george-saunders-wins-man-booker-prize" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-17.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-its-time-for-a-robotic-d-d-d-duel-between-the-us-and-japan-nba-season-begins-tonight" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-16.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-austria-set-to-have-worlds-youngest-national-leader-no-undefeated-teams-left-in-nfl" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-13.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trumps-two-hit-strike-on-the-affordable-care-act-chicago-cubs-advance-to-nlcs" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-12.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-new-york-yankees-surprise-cleveland-indians-advance-onward-obama-resurfaces-campaigns-next-week-in-virginia-619297" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-11.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-usmnt-fails-to-qualify-for-world-cup-macarthur-genius-grants-awarded-619293" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-10.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-eyes-on-catalan-leader-address-to-parliament-la-dodgers-and-houston-astros-advance-619289" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-10-09.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-richard-thaler-wins-nobel-prize-in-economics-for-behavioral-economics-trump-demands-border-wall-funding-619285" %>
		</div>
	</div>
</div>