<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-08-12.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=c3725d4ae3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-11.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=097a222030" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=a2869f831a" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-09.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=3bf49e7615" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-08.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=af34f50c1e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-05.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=ef00fe000b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=c76908d83a" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-08-03.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=599242b544" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-07-12.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=b555063b34" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-07-11.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=039b0da128" %>
		</div>
	</div>
</div>