<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2015-11-11.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=a343dd5136" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=5604518d1c" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-09.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=5bd74d7c7e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-06.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=8203c9cdf8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-05.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=ad6f39a9d8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=632a76fa08" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-03.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=0cc0899ca2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-11-02.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=11c9e2ddc3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-30.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=380a974f44" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-10-29.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=7bf90a8e52" %>
		</div>
	</div>
</div>