<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-09-20.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=fad5f0c213" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-19.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a212029cae" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-16.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=1157e8fd43" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-15.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=3ef5882f70" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-14.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=38150a027f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-13.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=7fdd9e40f5" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-12.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=7790ad3e2e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-09.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=4654991109" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-08.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=5ce45868dc" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-09-07.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=3af0a1ab0c" %>
		</div>
	</div>
</div>