<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-01-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=30543846f6" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-09.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=00b73b10e2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-06.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=bd2025813f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-05.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=6ede9fd4d5" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=65b49d0d81" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-03.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=0284262056" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-12-21.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=3c9b50073d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-13.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a088c02fd2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-12.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=8079b8cf0e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-11.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=d4678a5aba" %>
		</div>
	</div>
</div>