<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-03-08.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=9812d83b08" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-07.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=ccacf97314" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-04.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=d0defce898" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-03.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=cb29748df8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-02.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=9d1bad3b35" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-03-01.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=ad6426ad32" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-29.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=64705e2c13" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-26.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=02c1af0bae" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-25.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=ad80663003" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-24.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=b946b7674e" %>
		</div>
	</div>
</div>