<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-02-16.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=cd2c6e9fe7" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-15.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=d9e3e4b99e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-12.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=f82a644466" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-11.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=744f759d86" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-10.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=43e20627a2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-09.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=0af0fa976d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-08.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=f563de82ac" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-05.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=86e60ae050" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=4447992ec7" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-02-03.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=9ae26b7517" %>
		</div>
	</div>
</div>