<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-05-12.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-homeland-security-mulls-laptop-ban-on-flights-from-europe-uber-and-waymo-dispute-keeps-driving-along" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-11.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-penguins-and-ducks-into-nhl-conference-finals-more-details-emerge-on-james-comeys-dismissal" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-10.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-james-comey-abruptly-fired-as-fbi-director-snapchat-reports-first-earnings-as-public-company" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-09.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-south-korea-elects-new-president-golden-state-warriors-cruise-to-8-0-playoff-start" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-08.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-macron-wins-french-presidency-over-le-pen-investors-gather-for-sohn-conference" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-05.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-house-narrowly-approves-of-gop-healthcare-bill-don-a-silly-hat-because-the-kentucky-derby-is-here" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-04.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-major-healthcare-vote-planned-in-the-house-today-prince-philip-retires-from-public-engagements" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-03.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-facebook-and-tesla-report-earnings-will-a-healthcare-vote-happen" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-02.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-apple-announces-earnings-after-market-close-writers-and-studios-reach-tentative-agreement" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-01.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-congress-reaches-budget-agreement-averts-government-shutdown-twitter-and-bloomberg-team-up" %>
		</div>
	</div>
</div>