<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-12-15.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-the-dwc-goes-on-holiday-break-fcc-repeals-net-neutrality-protections" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-14.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-fcc-to-vote-on-net-neutrality-rules-today-disney-and-21st-century-fox-team-up" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-13.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-doug-jones-elected-to-senate-in-alabama-special-election-disney-and-21st-century-fox-near-closer-to-deal" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-12.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-election-day-in-alabama-san-francisco-mayor-ed-lee-passes-away" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-11.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-safer-avocados-bitcoin-futures-golden-globe-nominations-and-the-best-gifs-of-the-year" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-08.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-november-jobs-data-announced-today-congress-avoids-government-shutdown-for-now" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-07.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-sen-al-franken-to-address-calls-to-step-down-76th-anniversary-of-attack-on-pearl-harbor" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-06.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-metoo-selected-as-person-of-the-year-by-time-trump-set-to-recognize-jerusalem-as-israels-capital" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-05.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-ioc-to-decide-on-russias-fate-in-upcoming-winter-olympics-supreme-court-allows-travel-ban" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-12-04.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-cvs-health-to-acquire-aetna-clemson-oklahoma-georgia-and-alabama-in-cfp-semifinals" %>
		</div>
	</div>
</div>