<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-11-16.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=545232a56e" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-15.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=98ca9b9288" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-14.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=9ec0ba574a" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-11.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=6f7fbadf0f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=0ee941d204" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-09.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=517cc857e3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-08.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=085a10d839" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-07.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=c3243fa795" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-04.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=4c6fc6bda8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-11-03.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=2d76f7ce56" %>
		</div>
	</div>
</div>