<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-01-25.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=30a2bc59f3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-22.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=ee5986bf31" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-21.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=60eaa73402" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-20.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=9ae26b7517" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-19.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=c2984f324b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-18.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=eebd883a58" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-15.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=75ae6817bc" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-14.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=3c3ada87d2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-13.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=932807dabe" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-01-12.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a79d351726" %>
		</div>
	</div>
</div>