<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-09-22.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-uber-loses-license-in-london-dotard-is-the-word-of-the-day" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-21.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-gop-senators-plan-to-vote-on-healthcare-next-week-google-beefs-up-hardware-team" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-20.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-eyes-on-federal-reserve-decision-mexico-rocked-by-71-magnitude-earthquake" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-19.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-toys-r-us-files-for-bankruptcy-protection-trump-delivers-united-nations-speech-this-morning" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-18.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-handmaids-tale-and-veep-win-series-honors-at-emmys-united-nations-general-assembly-this-week" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-15.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-cassini-spacecraft-crashes-into-saturn-north-korea-fires-another-missile-over-japan" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-14.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-denies-claim-that-deal-struck-on-dreamers-bodega-startup-causes-uproar" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-13.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-bernie-sanders-to-introduce-single-payer-plan-to-senate-floor-drunk-tourist-swims-across-hoover-dam" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-12.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-whozits-and-whatzits-galore-at-apple-event-today-at-1-pm-et-legal-battle-over-monkey-selfie-settled" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-09-11.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-details-about-next-iphone-leak-ahead-of-event-nadal-and-stephens-win-us-open" %>
		</div>
	</div>
</div>