<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-01-05.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=24cfa33360" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-22.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=365e274161" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-21.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=932edb4b49" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-18.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=596828fef8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-17.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=7490b5a342" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-16.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=2cb9350d04" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-15.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=1266a7b1c5" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-14.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=675232c7c5" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-11.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=fe129453fb" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-12-10.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=c57b317a1e" %>
		</div>
	</div>
</div>