<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-06-06.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-apple-unveils-the-siri-enabled-homepod-speaker-french-open-rolls-into-the-quarterfinals" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-05.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-apples-wwdc-to-reveal-hardware-and-software-innovations-saudi-arabia-and-allies-cut-relations-with-qatar" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-02.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-announces-departure-from-paris-climate-accord-ananya-vinay-wins-scripps-spelling-bee" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-06-01.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-decides-on-paris-climate-agreement-game-1-of-nba-finals-begin" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-31.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-nasa-is-headed-into-the-sun-what-is-a-toxin-or-a-covfefe" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-30.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-how-google-maps-and-apple-maps-differ-new-phone-unveiled-today-by-android-co-founder" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-25.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-voters-wrestle-with-decision-in-montana-special-election-dwc-on-holiday-until-tuesday" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-24.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-cbo-to-release-score-of-ahca-moodys-downgrades-china-rating-for-first-time-in-nearly-30-years" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-23.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-trump-administration-releases-budget-rihanna-and-lupita-nyongo-are-actually-teaming-up" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-05-21.jpg"), "http://mailchi.mp/dailywatercooler/the_dwc-ford-hits-the-seat-eject-button-on-ceo-cloud-computing-wins-preakness" %>
		</div>
	</div>
</div>