<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-07-01.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=76cc70477b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-30.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a1d745cb71" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-29.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=780d2926b3" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-28.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=708d24426d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-27.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=cc51efa89b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-24.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=8a6f362020" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-23.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=3606fcded9" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-22.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=bd62eba710" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-06-21.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=913d4474a9" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-07-05.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=279d66ac6c" %>
		</div>
	</div>
</div>