<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2017-01-26.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=dd44ad3ad8" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-25.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a9185b3eb9" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-24.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=f97e72de26" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-23.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=0d0d2eef11" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-20.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=95e33d8dd6" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-19.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=24bb9f4a4d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-18.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=48b7c9d713" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-17.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=5aa9ad9de9" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=30543846f6" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2017-01-09.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=00b73b10e2" %>
		</div>
	</div>
</div>