<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2015-08-26.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=2b56e51e5b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-25.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=1c2a2620e7" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-24.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=08e029563a" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-21.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=540db4c21f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-20.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=96b69ed7e2" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-19.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=61c239e814" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-18.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=b2b1a050b1" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-17.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=d388ccae2d" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-14.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=7272812b10" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2015-08-13.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=288348e3f5" %>
		</div>
	</div>
</div>