<div class="jumbotron recent_jumbo">
	<div class="container">
		<p class="cabin jumbo_copy">GET FREAKING SMART</p>
		<h4>(or at least act like it)</h4>
	</div>
</div>
<div class="container center">
	<hr style="width: 50%">
	<h2 class="cabin" style="letter-spacing: 2px">
		RECENT ISSUES
	</h2>
	<hr style="width: 50%">
	<h4 style="margin-top: 30px; margin-bottom: 30px;">
		Here be the latest 10 issues of The DWC. Arrr.
	</h4>	
</div>
<div class="container" style="margin-bottom: 50px;">
	<div id="archive" class="transitions-enabled center">
		<div class="box-archive">
			<%= link_to image_tag("2016-05-23.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=e4325e54f1" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-20.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=a5b996662f" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-19.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=036dcce884" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-18.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=95cddbacbd" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-17.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=49ae2c082b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-16.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=b91789dd8a" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-13.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=6cbe293114" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-12.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=22af0d3d7b" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-11.jpg"), "http://us5.campaign-archive1.com/?u=c94281593a87a67bc1c5fe199&id=2cad5af949" %>
		</div>
		<div class="box-archive">
			<%= link_to image_tag("2016-05-10.jpg"), "http://us5.campaign-archive2.com/?u=c94281593a87a67bc1c5fe199&id=eb6419e030" %>
		</div>
	</div>
</div>