<div class="container" style="position: relative;">
  <% if user_signed_in? %>
    <div class="admin-control">
      <%= link_to new_referrer_path, class: "fa-stack fa-lg" do %>
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x fa-inverse"></i>
      <% end %>
    </div>
  <% end %>
  <h1>Breakroom Referrers</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        <th>Referrals</th>
        <th>Points</th>
        <th>Breakroom</th>
        <th>Last Updated</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @referrers.each do |referrer| %>
        <tr>
          <td><%= link_to referrer.email, referrer %></td>
          <td><%= referrer.referrals %></td>
          <td><%= referrer.points %></td>
          <td>
            <% if referrer.breakroom %>
              <span class="fa fa-check-circle" style="color: #1abc9c;"></span>
            <% else %>
              <span class="fa fa-times-circle" style="color: #e74c3c;"></span>
            <% end %>
          </td>
          <td><%= referrer.updated_at.strftime("%m/%d/%y") %></td>
          <td>
            <%= link_to edit_referrer_path(referrer) do %>
              <span class="fa fa-edit"></span>
              Edit
            <% end %>
          </td>
          <td>
            <%= link_to referrer, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="fa fa-trash-o"></span>
              Delete
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>