<div id="footer">
 	<div class="container">
 		<div class="row" style="margin-top: 20px;">
 			<div class="col-md-7">
		 		<p class="cabin footer_nav" style="font-size: 12px; letter-spacing: 2px;">
		 			<%= link_to "HOME", root_path %> &nbsp; | &nbsp;
		 			<%= link_to "RECENT ISSUES", recent_path %> &nbsp; | &nbsp;
					<%= link_to "ABOUT", about_path %> &nbsp; | &nbsp;
					<!--<%= link_to "AMBASSADOR", ambassador_path %> &nbsp; | &nbsp;-->
					<%= link_to "INVITE", invite_path %>
		 		</p>
 			</div>
 			<div class="col-md-5 footer_social">
				<%= link_to "https://www.facebook.com/thedailywatercooler" do %>
					<i class="fa fa-facebook fa-lg" style="font-size: 24px;"></i>
				<% end %>
				&nbsp; &nbsp;
				<%= link_to "https://twitter.com/the_dwc" do %>
					<i class="fa fa-twitter fa-lg" style="font-size: 24px;"></i>
				<% end %>
				&nbsp; &nbsp;
				<%= link_to "https://instagram.com/the_dwc" do %>
					<i class="fa fa-instagram fa-lg" style="font-size: 24px;"></i>
				<% end %>
				&nbsp; &nbsp;
				&copy; 2015 Water Cooler Labs | <%= link_to "Made", "creation.txt" %> in New York City
 			</div>
 		</div>
 		<div class="row">
  		
  	</div>
  </div>
</div>