<div id="">
 	<div class="container center">
 		<div style="margin-top: 60px;">
	 		<%= link_to "https://www.facebook.com/dailywatercooler" do %>
				<i class="fa fa-facebook fa-lg" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			<%= link_to "https://twitter.com/the_dwc" do %>
				<i class="fa fa-twitter fa-lg" style="font-size: 24px;"></i>
			<% end %>
			&nbsp; &nbsp;
			<%= link_to "https://instagram.com/the_dwc" do %>
				<i class="fa fa-instagram fa-lg" style="font-size: 24px;"></i>
			<% end %>
		</div>
 		<div class="cabin footer_nav">
			<!--<div class="footer_item"><%= link_to "RECENT ISSUES", recent_path %></div>-->
 			<div class="footer_item"><%= link_to "ABOUT", about_path %></div>
 			<!--<div class="footer_item"><%= link_to "BLOG", blogs_path %></div>-->
			<div class="footer_item"><%= link_to "INVITE", invite_path %></div>
 		</div>
  </div>
</div>


				
